<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OutputPath" value="" />
    <add key="InputPaths" value="" />
    <add key="GetTextExecutable" value="gettext\xgettext.exe" />
    <add key="MsgMergeExecutable" value="gettext\msgmerge.exe" />
    <add key="LocaleDirectoryName" value="locale" />
    <add key="OutputFileNameWithoutPrefix" value="messages" />
    <add key="FileExtensions" value="*.cs,*.cshtml" />
    <add key="ProgramLanguage" value="C#" />
    <add key="TranslationFunctions" value="_,__" />
    <add key="Encoding" value="UTF-8" />
    <add key="DryRun" value="" />
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
